{#
 # Copyright 2015 Adrien Navratil
 #
 # This file is part of Canvas.
 #
 # Canvas is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # Canvas is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with Canvas.  If not, see <http://www.gnu.org/licenses/>.
 #}

{#
 # Home page
 #}

{% set path=[] %}

{% extends 'base.twig' %}

{% block title %}Home{% endblock %}

{% block content %}

    <div id="visits" class="home-block">
        <canvas id="visits-chart" width="calc(100% - 50px)" height="250"></canvas>
    </div>

    <div id="new" class="home-block">

    </div>

    <div id="popular" class="home-block">

    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ res('js/chart-2.0.0.min.js') }}"></script>
    <script src="{{ res('js/home.js') }}"></script>
{% endblock %}