{#
 # Copyright 2015 Adrien Navratil
 #
 # This file is part of Canvas.
 #
 # Canvas is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # Canvas is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with Canvas.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends 'base.twig' %}

{% block title %}Search{% endblock %}

{% block head %}
    <link href="{{ res('css/search.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
        <form action="search" method="post">
            <input type="text" placeholder="Search for a group, artifact, user..." name="search" id="bar" />
            <button id="submit"><i class="glyphicon glyphicon-search"></i></button>

            <br />
            <br />

            <h4>Search for :</h4> <br />

            <input type="radio" name="search-type" value="all" checked /> All<br />
            <input type="radio" name="search-type" value="artifactsOnly" /> Artifacts<br />
            <input type="radio" name="search-type" value="groupsOnly" /> Groups<br />
        </form>
{% endblock %}