/*
 * Copyright 2015 Adrien Navratil
 *
 * This file is part of Canvas.
 *
 * Canvas is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Canvas is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Canvas.  If not, see <http://www.gnu.org/licenses/>.
 */

.home-block p
{

}

#visits, #users
{
    width: 100%;
    height: 250px;
    background: rgb(0, 164, 63);
    color: white;
}

#visits h4, #users h4
{
    padding: 15px;
    font-size: 22px;
    font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#visits
{
    margin-bottom: 1px;
}

#visits-chart
{
    width: calc(100% - 50px);
    padding: 25px;
    height: 200px;
}
